<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            color: #333;
            text-align: center;
            padding: 50px;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
        }

        h1 {
            font-size: 72px;
            color: #e74c3c;
        }

        p {
            font-size: 18px;
            margin-bottom: 20px;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        a {
            color: #3498db;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="../public/oops-404-error-with-broken-robot-concept-illustration_114360-5529.avif" alt="404 Not Found">
        {{>header}}
        <h1>404 Not Found</h1>
        <p>Sorry, the page you are looking for might be in another castle!</p>
        <p>Go back to <a href="/">home</a>.</p>
        {{>Footer}}
    </div>

    {{>Footer}}
</body>
</html>
