<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/Style.css">
    <link rel="icon" href="/public/weather.png">

    <title>Document</title>
</head>
<body>
    <div class="main-content">
    <h1>About Me</h1>
    <img src="/Src/img.jpg" alt="Mina wahba">
      {{>header}}
      </div>
      {{>Footer}}
    
</body>
</html>