<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/weather.png">
    <link rel="stylesheet" href="/CSS/Style.css">

    <script src="./JS/pub.js"></script>
    <title>Weather</title>
</head>
<body>
    <div class="main-content">
    <h1>Weather</h1>
    {{>header}}
    
    </div>
    {{>Footer}}
</body>
</html>